.fbody {
	display: block;
	position: fixed;
	margin: 0;
	padding: 0;

}

.row {
	padding: 1px;
}

.col {
	padding: 1px;
}

.col input {
	width: 410px;
}

.col1 {
	margin-top: 0;
	padding: 1px;
	float: left;
}

.col1 input {
	width: 200px;
}

.col2 {
	margin-top: 0;
	padding: 1px;
	float: right;
}

.col2 input {
	width: 200px;
}